html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.hidden, div.hidden, div.hidden-spinner {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: min-content;
  overflow: hidden;
}

.wrapper aside {
  width: 220px;
  border-right: 1px solid #ddd;
}

.wrapper section {
  flex: 4;
}

nav.navbar div.container {
  justify-content: center;
}

.navbar img {
  height: 45px;
  margin-right: 8px;
}

li.nav-item div.active {
  background-color: #e2e3e5;
}

.nav-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #eee;
}

.nav-item div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.nav-item div img {
  margin-right: 8px;
}

.nav-item span {
  color: #343a40;
}

section.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

footer.navbar.bg-light {
  border-top: 1px solid #ddd;
  /* Set the fixed height of the footer here */
  height: 55px !important;
  background-color: #f8f9fa !important;
  padding: 1rem 1rem !important;

}

footer .copyright {
  font-size: 12px;
  font-style: italic;
  color: #343a40;
}

.spinner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner-wrapper .spinner-border {
  width: 3rem;
  height: 3rem;
  border: .35em solid currentColor;
  border-right-color: transparent;
}

td.center, th.center,
.module .career-name {
  text-align: center;
}

.table tbody td, .table tbody th {
  vertical-align: middle;
}

tbody tr:last-child td,
tbody tr:last-child th {
  border-bottom: 1px solid #dee2e6;
}

tbody tr.total {
  border-top: 2px solid #dee2e6;
}

tbody tr.total td {
  font-weight: bolder;
}

section.content .module {
  margin-top: 15px;
}

.nav-pills {
  margin-top: 30px !important;
}

.nav-pills li.nav-item {
  border: none !important;
}

.nav-pills li.nav-item a {
  color: #343a40;
  border: 1px solid #ddd;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-pills li.nav-item a:hover {
  color: #343a40;
}

.nav-pills li.nav-item:hover a.active {
  background-color: initial;
}

.nav-pills li.nav-item a.active {
  background-color: white;
  color: #343a40;
  border-bottom: 0;
}

.tab-content {
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
}

.main-content {
  width: 100%;
  border: none;
}

svg text.bar {
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  fill: white;
}

.help h3 {
  font-weight: 700;
  border-bottom: 1px solid #343a40;
  color: #343a40;
  padding: 2px 0;
  margin-top: 1.8rem;
}

.help p {
  text-align: justify;
}

.help .p-img {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.thead-light td {
  color: #343a40;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: 700;
}
